# AWS
awsAccountName: "example"
region: "us-east-1"
schedule: "rate(5 minutes)"
userName: "DatadogAWSIntegration"
awsKmsKeyArn: ""
## Lambda Function Log Level {CRITICAL, ERROR, WARNING, INFO, DEBUG}
logLevel: "INFO"
# Datadog
metricName: "custom.ddawsintegration.events"
kmsEncryptedDdApiKey: ""
kmsEncryptedDdAppKey: ""
# serverless-python-requirements
pythonRequirements:
  dockerizePip: true
